.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.menuWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
